.container-fluid {
    display: flex;
    max-height: 100%;
    background-color: black;
    position:center;
    

}

.container {
    background-color: #003D0C;
    border-color: black;
    padding-top: 30px;
    
}




.col-4 {
    background-color: #003D0C;
}

.jumbotron.jumbotron-fluid {
    background-color: #003D0C;
}

.card-body {
    background-color: #003D0C;
}

.card{
    background-color: #003D0C;
}

.card-text {
    color: white;
}
h3 {
    color: #00ED2F;
}

.h1, h1 {
    color: #00ED2F;
}